; Compared to character and puchicharas, dancers do not need metadata.
; This is simply a definition so that you wouldn't have to go to shit like dancer.gd
; to edit the goddamn dancers and possibly bloat the file length
;
; This is mostly similar to how Taiko San-Nantoka does dancer definitions
; so nothing complicated like in PyTaiko- its not like dancers are complicated in Gen 2
; There's other little details you need to worry about

[offsets]
; Should the dancers need offsetting, this is where you define them

; For animation looping
[loop]
; For now, all dancers share frame count, frame intervals and such
; Compared to characters, order is indexed by 1
hframes = 4
vframes = 4
interval = 16
order = [1,1,2,2,3,3,2,2,1,1,2,2,3,4,5,6,7,7,8,8,9,9,8,8,7,7,8,8,9,9,6,6,10,11,12,11,10,11,12,11,10,13,14,15,14,13,14,15,14,13,10,11,12,11,10,11,12,11,10,13,14,15,14,13,14,15,14,13]

; For when they appear
[appear]
hframes = 5
vframes = 1
pattern = [1,1,1,1,1] ; Determines if the dancer index should be thrown vertically or simply appear
order = [1,1,1,1,1,1,1,2,2,3,3,4,4,5,5,5,5,5,5,5]
interval = 3.5

; For when they disappear
[disappear]
hframes = 4
vframes = 1
pattern = [1,1,1,1,1]
order = [1,1,1,2,2,2,3,3,3,4,4,4]
interval = 3.5
